<div>
  <h3>Build Your "BEAUTY DIARY"</h3>
  <form id='new-diary' ng-submit="newDiaryVm.addDiary()">
    <div>
      <label for="category">Skin:</label>
      <input type="text" name="Brand Name"   ng-model="newDiaryVm.newDiary.skin.brandName">
      <input type="text" name="Product Name" ng-model="newDiaryVm.newDiary.skin.productName">
      <input type="text" name="Shade Name"   ng-model="newDiaryVm.newDiary.skin.usedFor">
    </div>

    <div>
      <label for="category">Face:</label>
      <input type="text" name="Brand Name"   ng-model="newDiaryVm.newDiary.face.brandName">
      <input type="text" name="Product Name" ng-model="newDiaryVm.newDiary.face.productName">
      <input type="text" name="Shade Name"   ng-model="newDiaryVm.newDiary.face.shadeName">
    </div>

    <div>
      <label for="category">Eyes:</label>
      <input type="text" name="Brand Name"   ng-model="newDiaryVm.newDiary.eyes.brandName">
      <input type="text" name="Product Name" ng-model="newDiaryVm.newDiary.eyes.productName">
      <input type="text" name="Shade Name"   ng-model="newDiaryVm.newDiary.eyes.shadeName">
    </div>

    <div>
      <label for="category">Lips:</label>
      <input type="text" name="Brand Name"   ng-model="newDiaryVm.newDiary.lips.brandName">
      <input type="text" name="Product Name" ng-model="newDiaryVm.newDiary.lips.productName">
      <input type="text" name="Shade Name"   ng-model="newDiaryVm.newDiary.lips.shadeName">
    </div>

    <div>
      <label for="category">Cheeks:</label>
      <input type="text" name="Brand Name"   ng-model="newDiaryVm.newDiary.cheeks.brandName">
      <input type="text" name="Product Name" ng-model="newDiaryVm.newDiary.cheeks.productName">
      <input type="text" name="Shade Name"   ng-model="newDiaryVm.newDiary.cheeks.shadeName">
    </div>

    <div>
      <label for="category">Tools:</label>
      <input type="text" name="Brand Name"   ng-model="newDiaryVm.newDiary.tools.brandName">
      <input type="text" name="Product Name" ng-model="newDiaryVm.newDiary.tools.productName">
      <input type="text" name="Shade Name"   ng-model="newDiaryVm.newDiary.tools.shadeName">
    </div>

    <input type="submit" value="Add">
  </form>
</div>
