<!-- <div>
  <h3>Delete Diary</h3>
  <form id='delete-diary' ng-submit="deleteDiaryVm.editDiary()">
    <div>
      <label for="category">Skin</label>
      <input type="text" name="Brand Name"   ng-model="deleteDiaryVm.diary.skin.brandName">
      <input type="text" name="Product Name" ng-model="deleteDiaryVm.diary.skin.productName">
      <input type="text" name="Shade Name"   ng-model="deleteDiaryVm.diary.skin.usedFor">
    </div>

    <div>
      <label for="category">Face</label>
      <input type="text" name="Brand Name"   ng-model="deleteDiaryVm.diary.face.brandName">
      <input type="text" name="Product Name" ng-model="deleteDiaryVm.diary.face.productName">
      <input type="text" name="Shade Name"   ng-model="deleteDiaryVm.diary.face.shadeName">
    </div>

    <div>
      <label for="category">Eyes</label>
      <input type="text" name="Brand Name"   ng-model="deleteDiaryVm.diary.eyes.brandName">
      <input type="text" name="Product Name" ng-model="deleteDiaryVm.diary.eyes.productName">
      <input type="text" name="Shade Name"   ng-model="deleteDiaryVm.diary.eyes.shadeName">
    </div>

    <div>
      <label for="category">Lips</label>
      <input type="text" name="Brand Name"   ng-model="deleteDiaryVm.diary.lips.brandName">
      <input type="text" name="Product Name" ng-model="deleteDiaryVm.diary.lips.productName">
      <input type="text" name="Shade Name"   ng-model="deleteDiaryVm.diary.lips.shadeName">
    </div>

    <div>
      <label for="category">Cheeks</label>
      <input type="text" name="Brand Name"   ng-model="deleteDiaryVm.diary.cheeks.brandName">
      <input type="text" name="Product Name" ng-model="deleteDiaryVm.diary.cheeks.productName">
      <input type="text" name="Shade Name"   ng-model="deleteDiaryVm.diary.cheeks.shadeName">
    </div>

    <div>
      <label for="category">Tools</label>
      <input type="text" name="Brand Name"   ng-model="deleteDiaryVm.diary.tools.brandName">
      <input type="text" name="Product Name" ng-model="deleteDiaryVm.diary.tools.productName">
      <input type="text" name="Shade Name"   ng-model="deleteDiaryVm.diary.tools.shadeName">
    </div>

    <input type="submit" value="Edit">
  </form>
</div>
 -->
