<div>
  <h3>Edit Diary</h3>
  <form id='edit-diary' ng-submit="editDiaryVm.editDiary()">
    <div>
      <label for="category">Skin</label>
      <input type="text" name="Brand Name"   ng-model="editDiaryVm.diary.skin.brandName">
      <input type="text" name="Product Name" ng-model="editDiaryVm.diary.skin.productName">
      <input type="text" name="Shade Name"   ng-model="editDiaryVm.diary.skin.usedFor">
    </div>

    <div>
      <label for="category">Face</label>
      <input type="text" name="Brand Name"   ng-model="editDiaryVm.diary.face.brandName">
      <input type="text" name="Product Name" ng-model="editDiaryVm.diary.face.productName">
      <input type="text" name="Shade Name"   ng-model="editDiaryVm.diary.face.shadeName">
    </div>

    <div>
      <label for="category">Eyes</label>
      <input type="text" name="Brand Name"   ng-model="editDiaryVm.diary.eyes.brandName">
      <input type="text" name="Product Name" ng-model="editDiaryVm.diary.eyes.productName">
      <input type="text" name="Shade Name"   ng-model="editDiaryVm.diary.eyes.shadeName">
    </div>

    <div>
      <label for="category">Lips</label>
      <input type="text" name="Brand Name"   ng-model="editDiaryVm.diary.lips.brandName">
      <input type="text" name="Product Name" ng-model="editDiaryVm.diary.lips.productName">
      <input type="text" name="Shade Name"   ng-model="editDiaryVm.diary.lips.shadeName">
    </div>

    <div>
      <label for="category">Cheeks</label>
      <input type="text" name="Brand Name"   ng-model="editDiaryVm.diary.cheeks.brandName">
      <input type="text" name="Product Name" ng-model="editDiaryVm.diary.cheeks.productName">
      <input type="text" name="Shade Name"   ng-model="editDiaryVm.diary.cheeks.shadeName">
    </div>

    <div>
      <label for="category">Tools</label>
      <input type="text" name="Brand Name"   ng-model="editDiaryVm.diary.tools.brandName">
      <input type="text" name="Product Name" ng-model="editDiaryVm.diary.tools.productName">
      <input type="text" name="Shade Name"   ng-model="editDiaryVm.diary.tools.shadeName">
    </div>

    <input type="submit" value="Update">

  </form>



    <div>
    <button ui-sref="diaryShow({id:editDiaryVm.diary._id})">My Beauty Diary</button>
    </div>

</div>
