
body {
  background-color: black;
  background: url(/images/choosePage1.jpg) no-repeat fixed center;
  background-size: cover;
  background-position: 1% 90%;
}

.navbar {
  background-color: transparent;
  border: none;
}

img {
    width: 1293px;
    margin-top: -109px;
    margin-left: -25px;
    margin-bottom: -706px;
    display: block;
}

.btn {
  color: black;
  background-color: white;
  opacity: .6;
}

.btns {
  color: black;
  background-color: white;
  opacity: .6;
  border: silver solid 5px;
  letter-spacing: 6px;
  margin: 1%;
  height: 80px;
  width: 35%;
  margin-left: 435px;
}

.ybcName {
  text-align: center;
  width: 100%;
  padding-top: 60px;
  color: white;
  font-size: 100px;
}



/*@media screen and (min-width: 375px max-width: 667px) {

body {
  text-align: center;
}
img {
  width: 48%;
  margin-top: -95%;
}

.btns {
  margin: 0px;
}

}
*/
