
body {
  background-image: url(images/ybc.png);
  padding-top: 15%;

}

p {
  font-size: 90px;
  text-align: center;
  font-family: 'Knewave', cursive;
  line-height: 62px;
  margin-bottom: 100px;
  margin-top: 25px;
  color: pink;
  text-shadow: 2px 2px lightgrey;
}

.btn {
  color: white;
  background-color: pink;
  width: 25%;
  height: 15%;
  font-family: 'Knewave', cursive;
  margin-top: 20px;
  letter-spacing: 1px;
  text-align: center;
}

#nav {
  margin-left: 350px;
}

#home-btn {
  text-align: center;
  width: 50%;
  transform: translate(50%, 50%);
}

#centered-column {

  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

/*Breakpoint: ~487px*/
@media(max-width: 487px) {

  /*When screen is less than 487px wide (stuff starts looking weird),
  do the following: */
  #centered-column {
    top: 20%;
    left: 20%;
  }
}
