
body {
  background: url(/images/choosePage1.jpg) no-repeat center;
  background-color: black;
  margin: 125px;
}

/*p {
  font-size: 90px;
  text-align: center;
  font-family: 'Knewave', cursive;
  line-height: 62px;
  margin-bottom: 100px;
  margin-top: 25px;
  color: pink;
  text-shadow: 2px 2px lightgrey;
}*/

.btn {
  color: black;
  background-color: white;
  opacity: .6;
  width: 7%;
  height: 15%;
  margin-top: 5px;
  letter-spacing: 6px;
  text-align: center;
}

.ybcName {
  text-align: center;
  background-color: rgba(156, 156, 156, 0.58);
  width: 25%;
  margin-left: 37%;
  height: 150px;
  padding-top: 1px;
  /*border: grey solid 2px;*/
  color: white;
}


#home-btn {
  text-align: center;
  width: 50%;
  transform: translate(50%, 50%);
  padding: 25px;
}

#centered-column {

  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

/*Breakpoint: ~487px*/
@media(max-width: 487px) {

  /*When screen is less than 487px wide (stuff starts looking weird),
  do the following: */
  #centered-column {
    top: 20%;
    left: 20%;
  }
}
