body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background: url(/images/homePage.png) no-repeat center;*/
}

a {
  color: #00B7FF;
}

.sign-in-form {
  width: 30%;
  margin-left: 37%;
  text-align: center;
  }

h1 {
  font-size: 45px;
  text-align: center;

}

h3 {
  font-size: 20px;
  text-align: center;
}

#user-input {
  background-color: white;
}

#nav {
  margin-left: 350px;
}

.navbar {
  background-color: pink ;
}
