body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-bottom: 125px;
  background-color: lightgrey;
  margin: 5%;}

a {
  color: white;}

a:hover {
  color: black;
}
.form-control {
  width: 30%;
  margin-left: 35%;}

.btn {
  background-color: white;
  color: darkgrey;
  border: none;
  margin-left: 45%;
  margin-top: 1%;}

.btn:hover {
  background-color: white;
  color: darkgrey;
  border: none;}

h1 {
  font-size: 80px;
  text-align: center;
  color: white;}

h2 {
  text-align: center;
  color: white;}

h3 {
  font-size: 30px;
  color: grey;
  margin-left: 70px;
  margin-bottom: 15px;
  padding-top: 15%;}

p {
  text-align: center;
  color: grey;}

#nav {
  margin-left: 350px;
}

.navbar {
  display: none;}
